body{
    font-family: sans-serif;
}
.banner{
    background: url("https://pintek.id/blog/wp-content/uploads/2021/03/kursus-online-1536x864.jpg") 
    no-repeat center center; 
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 10%;
    color: white;
 }
 #topicimage{
     background-color: white;
     padding-top: 2rem;
     padding-bottom: 7rem;
 }
 .col{
     padding-bottom: 4rem;
     padding-left: 1rem;
 }
 #pembelajaransaya{
    padding: 3rem;
 }
 #pembelajaranimage{
    background-color: white;
    padding: 5rem;
}
.nav{
    padding: 1%;
}
.btn1{
    border-radius: 1%;
}
#katalogkursus{
    padding: 3rem;
 }